<h2>Noughty</h2>
<div>Player: <div class="playerSide"></div> Computer: <div class="computerSide"></div></div>
<div class="message"></div>
<div class="board"></div>
<div class="restart">(R)estart Game</div>
