<div><span>Noughty: <span class="computerSide side" /></span>&nbsp;&nbsp;&nbsp;<span>Player: <span class="playerSide side" /></span></div>
<div class="message"></div>
<div class="board"></div>
<div class="restart">(R)estart Game</div>
