// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 24px;
  padding: 30px;
  font-family: monospace;
  color: #808080;
}

pre {
    font-size: 50px;
    font-family: monospace;
    color: #202020;
}

.side {
    font-size: 50px;
    font-family: monospace;
    color: #202020;
}

.x {
  color: #702020;
}

.o {
  color: #207020;
}
